h2 {
    font-family: "Courier New", Courier, monospace;
}

.frm1 {
    margin-top: 20px;
    /* margin-left: 300px; */
    width: 500px;
    background-color: aqua;
    color: red;
}
.bor {
    border: 1px solid;
}
.mr1 {
    /* width: 245px; */
    margin-left: 600px;
}

/* #ifYes {
    width: 50%;
} */

#akhir {
    margin-bottom: 100px;
}
#ttd {
    margin-bottom: 300px;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
}
#jabatan {
    margin-top: 10px;
}
/* @media only screen and (min-width: 600px) {
    /* For tablets: */
/* .rm1 {
        width: 50%;
    }
} */
/* @media only screen and (min-width: 768px) {
    /* For desktop: */
/* .rm1 {
        width: 50%;
    }
} */
